@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
	font-family: 'Bai Jamjuree', sans-serif;
	margin: 0;
}

h1,
p {
	margin: 0;
}

a {
	color: #2868f3;
	text-decoration: none;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 1440px;
	margin: auto;
	padding: 98px 87px 77px 87px;
	gap: 80px;
}

.title-wrapper {
	max-width: 680px;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.title {
	color: #4569b1;
	text-align: center;
	font-size: 48px;
	font-weight: 700;
	line-height: 54.96px;
}

.subtitle {
	color: #12153e;
	text-align: center;
	font-size: 20px;
	font-weight: 400;
	line-height: normal;
}

.link {
	font-size: 20px;
	font-weight: 600;
}

.small-link {
	font-size: 16px;
	font-weight: 600;
}

.card-main-wrapper {
	display: flex;
	gap: 20px;
	align-items: center;
	justify-content: center;
}

.project-wrapper {
	display: flex;
	flex-direction: column;
	gap: 60px;
	margin-top: 24px;
}

.project-heading {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 24px;
}
.opensource {
	display: flex;
	flex-direction: column;
	gap: 24px;
	width: 100%;
	max-width: 312px;
}
.project-typography {
	display: flex;
	flex-direction: column;
	gap: 12px;
	max-width: 680px;
	width: 100%;
}
.project-title {
	color: #4569b1;
	text-align: center;
	font-size: 36px;
	font-weight: 700;
	line-height: normal;
}

.button-group {
	display: flex;
	gap: 16px;
}

.btn-1 {
	display: flex;
	padding: 10px 16px;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	border: 1px solid #2868f3;
	background: #fff;
}
.btn-2 {
	display: flex;
	padding: 12px 24px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	border: 1px solid #3b75f4;
	background: radial-gradient(50% 50% at 50% 50%, #3b75f4 0%, #2e66e0 100%);
	box-shadow: 0px 4px 8px 0px rgba(90, 140, 249, 0.38);
}
.btn-text-1 {
	color: #3069e4;
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
}

.btn-text-2 {
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
}

.project-image {
	display: flex;
	align-items: center;
	gap: 12px;
}

.project-image-wrapper {
	display: flex;
	width: 61px;
	height: 61px;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	border: 1px solid #e8e8e8;
	background: #fff;
}

.kubeslice {
	color: #12153e;
	font-size: 20px;
	font-weight: 600;
	line-height: normal;
}

.project-image-typography {
	display: flex;
	flex-direction: column;
}

.project-points-wrapper {
	display: flex;
	justify-content: center;
	gap: 60px;
	padding: 40px 60px;
	border-radius: 8px;
	border: 1px solid #e8e8e8;
	background: #fff;
}

.project-point {
	display: flex;
	gap: 60px;
}

.project-card-point-wrapper {
	display: flex;
	flex-direction: column;
	gap: 12px;
	/* width: 100%; */
	width: 272px;
}

@media screen and (max-width: 1440px) {
	.card-main-wrapper {
		flex-wrap: wrap;
	}
	.project-points-wrapper {
		flex-wrap: wrap;
	}
}

@media screen and (max-width: 900px) {
	.container {
		padding: 32px;
	}
	.card-wrapper {
		flex-direction: column;
		align-items: flex-start;
	}
	.project-points-wrapper {
		flex-direction: column;
	}
	.project-card-point-wrapper {
		width: auto;
	}
	.button-group {
		flex-direction: column;
	}
	.title {
		font-size: 28px;
		font-weight: 600;
		line-height: normal;
	}
	.subtitle {
		font-size: 16px;
	}
	.link {
		font-size: 16px;
	}
}

@media screen and (max-width: 650px) {
	.project-point {
		flex-direction: column;
	}
}

/* @media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
} */
