.main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 32px;
	margin-bottom: 80px;
}

@media screen and (max-width: 900px) {
	.main-container {
		margin-bottom: 40px;
		padding: 0 16px;
	}
}
